.home{
    background-image: url(../../public/Assets/mvp-banner.png);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    text-align: center;
    color: white;

}